<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aircrafts</title>

    <!-- Bootstrap + style.css z folderu static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#0d6efd">

    <!-- Ikona aplikacji -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-192.png') }}">

</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">LOTAIR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lotniska
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Europa</a></li>
            <li><a class="dropdown-item" href="#">Azja</a></li>
            <li><a class="dropdown-item" href="#">Ameryka</a></li>
            <li><a class="dropdown-item" href="#">Afryka</a></li>
            <li><a class="dropdown-item" href="#">Australia</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Linie lotnicze</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Samoloty
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('boeing') }}">Boeing</a></li>
            <li><a class="dropdown-item" href="{{ url_for('airbus') }}">Airbus</a></li>
            <li><a class="dropdown-item" href="#">Embraer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1">Wyszukiwanie</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Szukaj">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
      </form>
    </div>
    </div>
</nav>
    
<div class="container my-5">    
    <div class="row g-0 m-0">
        <div class="col m-0">
            <div class="card border-0" >
                
                <!-- HEADER NA CAŁĄ SZEROKOŚĆ -->
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('boeing') }}">BOEING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('airbus') }}">AIRBUS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('embraer') }}">Embraer</a>
                        </li>
                    </ul>
                </div>

                <!-- TREŚĆ KARTY -->
                <div class="card-body">

                    <!-- TRZY KARTY OBOK SIEBIE -->
                    <div class="row g-3">

                        <div class="col-md-4 p-2">
                            <div class="card h-100">
                                <img src="{{ url_for('static', filename='photo/a6-eea_03.jpg') }}" class="card-img-top aircraft-img" alt="A6-EEA">
                                <div class="card-body">
                                    <h5 class="card-title">Airbus</h5>
                                    <h6 class="card-subtitle text-muted">A380</h6>
                                    <p class="card-text my-2">
                                        Dwupoziomowy (dwupokładowy) i szerokokadłubowy czterosilnikowy samolot pasażerski produkowany przez przedsiębiorstwo Airbus. Dzięki temu, że górny pokład ciągnie się przez całą długość kadłuba, A380-800 mieści 555 osób przy podziale na trzy klasy lub nawet 853 przy konfiguracji całej maszyny do standardu klasy ekonomicznej, wyprzedzając pod względem powierzchni drugiego na liście Boeinga 747-8 (Jumbo Jeta najnowszej generacji) o 32%.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 p-2">
                            <div class="card h-100">
                                <img src="{{ url_for('static', filename='photo/a6-exf_04.jpg') }}" class="card-img-top aircraft-img" alt="A6-EXF">
                                <div class="card-body">
                                    <h5 class="card-title">Airbus</h5>
                                    <h6 class="card-subtitle text-muted">A350</h6>
                                    <p class="card-text my-2">
                                        Seria szerokokadłubowych samolotów pasażerskich, średniej wielkości, dalekiego zasięgu. A350 powstał jako następca modelu A340 oraz odpowiedź na konkurencyjne samoloty Boeing 777. A350 XWB jest oferowany wraz z mniejszym A330neo.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 p-2">
                            <div class="card h-100">
                                <img src="{{ url_for('static', filename='photo/9k-apk_01.jpg') }}" class="card-img-top aircraft-img" alt="9K-APK">
                                <div class="card-body">
                                    <h5 class="card-title">Airbus</h5>
                                    <h6 class="card-subtitle text-muted">A330</h6>
                                    <p class="card-text my-2">
                                         Szerokokadłubowy samolot pasażerski używany w lotach komercyjnych na średnich i długich dystansach o dużej ładowności, produkowany przez koncern Airbus. Zaprojektowany równocześnie z czterosilnikowym A340.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div><!-- row -->
                </div><!-- card-body -->

            </div><!-- card -->
        </div>
    </div>
</div>
   

      

    <!-- Bootstrap JS z folderu static -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log("Service Worker zarejestrowany"))
        .catch(err => console.log("SW error:", err));
}
</script>


</body>
</html>

